.swiper-container {
  width: 100%;
  height: 100%;
}

.text-big {
	height: 45px;
	font-family: SourceHanSansCN-Light;
	font-size: 48px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #555555;
}

.text-small {
	font-family: SourceHanSansCN-Light;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 36px;
	letter-spacing: 0px;
	color: #555555;
}



.carousel{
	height: 670px;
	background-color: #1b358a;
}

.tab-container{
	.tab-item {
    height: 80px;
    cursor: pointer;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		line-height: 30px;
		letter-spacing: 0px;
		color: #888888;
		&.active {
			color: #555555;
		}
	}
}

.banner-container {
  margin: 0px;
  .scale{
      padding-bottom: 77.3%;
      /*相当于盒子的高度*/
      width: 25%;
      /*即维持宽高比为1:2*/
      height: 0;
      position: relative;
      > div {
        position: absolute;
        width: 100%;
        height: 100%;
      }
  }
  .banner-item {
    width: 100%;
    margin-bottom: 0;
    background-color: #304ba3;
    .banner-info {

    }
  }
}

.page-nav {
  height: 137px;
  background-color: #eeeeee;
  margin: 0px;
  padding-top: 36px;
  .prev {

    width: 60px;
    height: 60px;
    background-image: url('../../static/img/prev.png');
    background-repeat: no-repeat;
  }
  .center {
    width: 204px;
    height: 60px;
    background-image: url('../../static/img/more_1.png');
    background-repeat: no-repeat;
  }
  .next {
    width: 60px;
    height: 60px;
    background-image: url('/static/img/next.png');
    background-repeat: no-repeat;
  }
}

.remind {
  padding: 137px 0;
  .text1{
    height: 23px;
    font-family: SourceHanSansCN-Light;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #888888;
    margin-bottom: 31px;
  }
  .text2 {
    height: 16px;
    font-family: SourceHanSansCN-Light;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #888888;
    margin-bottom: 17px;
  }
}

.text3{
    width: 330px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: #eeeeee;
    border-radius: 1px;
    font-family: SourceHanSansCN-Light;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
}

.swiper-pagination-bullet{
  opacity: 1 !important;
  background: #fff !important;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: none !important;
  border: 1px solid #fff !important;
}

@media (max-width: 768px) {
  .paddingTB40 {
    padding: 9.44vw 0 4.81vw;
  }
	.swiper-container {
    width: 100%;
    height: 100%;
  }

  .text-big {
    height: 5.19vw;
    font-family: SourceHanSansCN-Light;
    font-size: 5.56vw;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0vw;
    color: #555555;
  }

  .text-small {
    font-family: SourceHanSansCN-Light;
    font-size: 1.67vw;
    font-weight: normal;
    font-stretch: normal;
    line-height: 6.44vw;
    letter-spacing: 0vw;
    color: #555555;
  }

  .carousel{
    width: 100vw;
    height: 138.89vw;
    background-color: #1b358a;
  }

  .tab-container{
    .tab-item {
      height: 9.54vw;
      cursor: pointer;
      width: unset;
      font-size: 1.67vw;
      line-height: 9.54vw;
      letter-spacing: 0vw;
      color: #888888;
      &.active {
        color: #555555;
      }
    }
  }

  .banner-container {
    margin: 0px;
    .scale{
        padding-bottom: 77.3%;
        /*相当于盒子的高度*/
        width: 25%;
        /*即维持宽高比为1:2*/
        height: 0;
        position: relative;
        > div {
          position: absolute;
          width: 100%;
          height: 100%;
        }
    }
    .banner-item {
      width: 100%;
      margin-bottom: 17.78vw;
      background-color: #304ba3;
      .banner-info {
        height: 16.85vw;
        width: 100%;
        top: 100%;
        color: #bbbbbb;
        background-color: #eaeaea;
        padding: 4.17vw 4.72vw 3.98vw 4.72vw;
        .banner-t1 {
          height: 3.15vw;
          font-size: 3.33vw;
          letter-spacing: 0vw;
        }
        .banner-t2 {
          padding-top: 3.05vw;
          height: 2.5vw;
          font-size: 2.22vw;
        }
      }
    }
  }

  .page-nav {
    min-height: 60px;
    height: 12.69vw;
    background-color: #eeeeee;
    margin: 0px;
    padding-top: 3.98vw;
    .prev {
      display: none;
    }
    .center {
      min-height: 30px;
      min-width: 90px;
      width: 18.89vw;
      height: 5.56vw;
      border-radius: 0.09vw;
      background-image: url('../../static/img/more_1.png');
      background-position: center;
      background-repeat: no-repeat;
    }
    .next {
      display: none;
    }
  }

  .remind {
    padding: 7.22vw 5vw;
    color: #888888;
    .text1{
      height: 3.06vw;
      font-size: 3.33vw;
      line-height: 2.78vw;
      letter-spacing: 0vw;
      margin-bottom: 5vw;
    }
    .text2 {
      height: 2.22vw;
      font-size: 2.22vw;
      line-height: 2.78vw;
    }
  }

  .text3{
    width: 35.93vw;
    height: 7.59vw;
    line-height: 7.59vw;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 1px;
    font-family: SourceHanSansCN-Light;
    font-size:  3.33vw;
    letter-spacing: 0px;
  }

  .swiper-pagination-bullet{
    opacity: 1 !important;
    background: #fff !important;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: none !important;
    border: 1px solid #fff !important;
  }

}
